
.imgWrapper {
  text-align: center;
  background-color: #acc;
}

.memberImg {
  width: 8rem;
  height: 8rem;
  min-width: 8rem;
  min-height: 8rem;
  max-width: 256px;
  max-height: 256px;
  padding: 1rem;
}

.buttonRow {
  width: fit-content;
}

.button {
  margin-top: 0.8rem;
  text-transform: uppercase;
}
